Repository pypa/build: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flake8, isort, pytest, pytest2

mypy:
  language: python
  require_serial: true
  name: mypy (py2)
  entry: mypy
  args:
  - --py2

flake8:
  language: python
  require_serial: true
  name: flake8
  entry: flake8

isort:
  language: python
  require_serial: true
  name: isort
  entry: isort
  args:
  - --check-only
  - --diff

pytest:
  language: python
  require_serial: true
  name: pytest
  entry: pytest
  args:
  - --exitfirst

pytest2:
  language: python
  require_serial: true
  name: pytest2
  entry: pytest2
  args:
  - --exitfirst

nox: initial config
  noxfile.py
Due: none

tests: add test for argument parsing in main
  build/__main__.py
  pyproject.toml
  setup.py
  tests/test_main.py
Due: mypy, flake8, isort, pytest, pytest2

ci: fix conditional jobs
  .github/workflows/tests.yml
Due: none

tests: ignore coverage in _error
  build/__main__.py
Due: mypy, flake8, isort

test: add test build build in main
  tests/test_main.py
Due: pytest, pytest2

tests: add tests for ProjectBuilder init
  build/__init__.py
  tests/test_projectbuilder.py
Due: mypy, flake8, isort, pytest, pytest2

tests: add test for check_dependencies
  build/__init__.py
  tests/test_projectbuilder.py
Due: mypy, flake8, isort, pytest, pytest2

tests: test_build: mock file open
  tests/test_main.py
Due: pytest, pytest2

tests: add test for ProjectBuilder.build
  tests/test_projectbuilder.py
Due: pytest, pytest2

doc: add missing docstrings
  build/__init__.py
  build/__main__.py
Due: mypy, flake8, isort

sphinx: initial config/documentation
  docs/Makefile
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
Due: none

readme: fix missing usage
  README.md
Due: none

doc: add readthedocs
  .readthedocs.yml
  docs/requirements.txt
  docs/source/conf.py
Due: none

readme: add docs badge
  README.md
Due: none

docs: fix python version list
  docs/source/index.rst
Due: none

readme: add documentation link
  README.md
Due: none

docs: add comparison against other tools
  docs/source/index.rst
Due: none

doc: document fallback backend
  docs/source/index.rst
Due: none

release 0.0.3
  build/__init__.py
  setup.py
Due: mypy, flake8, isort

main: fix cli invocation
  build/__main__.py
Due: mypy, flake8, isort

doc: add release information
  docs/source/index.rst
Due: none

readme: add pypi badge
  README.md
Due: none

release 0.0.3.1
  build/__init__.py
  setup.py
Due: mypy, flake8, isort

ci: add workflow to try to build other projects
  .github/workflows/build.yml
Due: none

codecov: use a more minimal comment layout
  codecov.yml
Due: none

pyproject: move to poetry
  .github/workflows/build.yml
  pyproject.toml
Due: none

rename project to casei
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  README.md
  build.py
  casei/__init__.py
  casei/__main__.py
  docs/source/index.rst
  noxfile.py
  pyproject.toml
  setup.py
  tests/test_main.py
  tests/test_module.py
  tests/test_projectbuilder.py
Due: pytest, pytest2

Path conditions:
  mypy: any of: ^build/ and \.py$
  flake8: any of: ^build/ and \.py$
  isort: any of: ^build/ and \.py$
  pytest: any of: ^tests/ and \.py$
  pytest2: any of: ^tests/ and \.py$
